# requirement packages for the project
# running 'pip install -r requirements.txt' will install everything here in one go

robin-stocks==2.1.0
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
yfinance==0.1.70
matplotlib==3.4.3
fredpy==3.2.6
statsmodels==0.13.2
backtrader==1.9.76.123
pyqtgraph==0.11.1
python-dateutil==2.8.2
requests==2.27.1



# for ubuntu:
#sudo apt-get build-dep qt5-default
#sudo apt-get install libxcb-xinerama0-dev